{% extends 'base.html.twig' %}

{% block title %}Genus {{name}}{% endblock %}
{% block body %}
    <h1>The Genus
        {{name}}</h1>

    {# {{dump()}}  this show array of all the variables and there contain  #}

    <ul>
        {% for note in notes %}
            <li>{{note}}</li>
        {% endfor %}
    </ul>
{% endblock %}